name: lint-and-test

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.4'
          cache: true
          cache-dependency-path: go.sum
      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
      - name: Test
        run: make test
